.filebrowser {
  &__shortcuts {
    position: relative;
  }

  &__add-shortcut {
    position: absolute;
    top: 0;
    right: 0;
  }

  &__filelist {
    padding: 5px;
  }

  &__breadcrumbs {
    padding: 5px;
  }

  &__shortcuts {
    padding: 5px;
  }
}
