.file {
  display: inline-block;
  position: relative;
  padding-left: 32px + 5px;
  height: 32px;

  &:before {
    position: absolute;
    display: block;
    left: 0;
    top: 0;
    width: 32px;
    height: 32px;

    background: lightblue;
  }

  &--folder:before {
    content: "D"
  }

  &--video:before {
    content: "V"
  }
}
