.layout {
  height: 100%;


  &--main {
    position: relative;
    padding-left: 64px;
  }

  &--columns {
    display: flex;
    // #align-items: stretch;
    height: 100%;
  }

  &__column {
    flex-grow: 1;
    border-left: 1px solid #555;
    &:first-child { border-left: none; }
  }

  &__appnav {
    position: absolute;
    left: 0;
    top: 0;
    width: 64px;
    height: 100%;
  }

  &__main {
    height: 100%;
  }
}
