.video-window {
  background: black;
  color: white;

  margin: 0;
  padding: 0;

  &__container {
    display: block;
    overflow: hidden;
  }

  &__container, &__player {
    width: 100%;
    height: 100%;

    border: none;
    margin: 0;
    padding: 0;
  }
}
