<div class="filebrowser">
    <div class="filebrowser__header header">
        <h2 class="header__headline">Files</h2>
    </div>

    <div class="filebrowser__shortcuts">
        <ul class="quicklinks">
            <li class="quicklinks__item"><a href="#" class="quicklinks__link button">Home</a></li>
            <li class="quicklinks__item"><a href="#" class="quicklinks__link button">Disk</a></li>
        </ul>
        <div class="filebrowser__add-shortcut">
            <a href="#" class="button">ADD</a>
        </div>
    </div>

    <div class="filebrowser__breadcrumbs breadcrumbs">
        <clickable-path
                [path]="current_path"
                (selectPath)="updatePath($event)"></clickable-path>
        <!--<a href="#" class="breadcrumbs__link">Home</a> /-->
        <!--<a href="#" class="breadcrumbs__link">Files</a> /-->
        <!--<a href="#" class="breadcrumbs__link">Some dir</a>-->
    </div>

    <ul class="filebrowser__filelist list">
        <li *ngFor="#file of files"
            class="filebrowser__link">
            <a href="#" class="filebrowser__link file"
                    [ngClass]="{
                        'file--folder': file.isDirectory(),
                        'file--video': !file.isDirectory()
                     }"
                     (click)="selectFileOrDirectory(file)"
                     (dblclick)="OnDoubleClickFile(file)">
                {{ file.filename }}{{ file.isDirectory() ? '/' : '' }} </a>
        </li>
    </ul>
</div>
