<div class="layout layout--main">
    <nav class="appnav layout__appnav">
        <div class="appnav__holder">
            <ul class="appnav__list">
                <li class="appnav__item"><a href="#" class="appnav__link button">VIDEO</a></li>
                <li class="appnav__item"><a href="#" class="appnav__link button">MUSIC</a></li>
            </ul>
            <div class="appnav__bottom">
                <a href="#" class="button button--settings">SETTI</a>
            </div>
        </div>
    </nav>

    <section class="pane layout__main">
        <div class="layout--columns">
            <file-browser class="layout__column"
                    (selectFile)="previewFile($event)"
                    (executeFile)="startFile($event)"></file-browser>

            <chapter-browser class="layout__column"
                    [file]="currentPreviewFile"
                    (selectChapter)="startChapter($event)"></chapter-browser>

            <div class="video-preview layout__column">
                <div class="chapterbrowser__header header">
                    <h2 class="header__headline">Video</h2>
                </div>
                <div class="video-preview__video-container">
                    <zv-video [file]="currentFilePlaying"></zv-video>
                    <button (click)="pausePlay()">Play!</button>
                    <!--<video src="#" class="video-preview__player"></video>-->
                </div>
            </div>
        </div>
    </section>
</div>
